@font-face {
    font-family: 'Kanit';
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
}


body {background-color: rgb( 50,50,50);}
label{font-family: 'Kanit';color: white;}

h1{
    color: rgb(45, 126, 252);
    text-align: center;
}
.Buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    
}
.Buttons button{
    border-radius: 50px;
    padding: 45px 80px;
    margin: auto;
    font-size: 35px;
    transition-duration: 0.25s;
    background-color: #186aed;
    border-style: solid;
    border-width: 10px;
    border-color: #11408d;
}
.Buttons button:hover{
   background-color: #ED9B18;
   border-color: #8D5E11;
}
.BGrange {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#colorBox{
    width: 75px;
    height: 75px;
    background-color: white;
}





