@font-face {
    font-family: "coolvetica";
    src: url("coolvetica.otf");
}

body {background-color: rgb( 50,50,50);}
*{font-family: 'coolvetica';color: white;}

h1{
    color: rgb(45, 126, 252);
    text-align: center;
    text-decoration: underline;
}
/* Button CSS */
.Buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    
}
.Buttons button{
    border-radius:80px;
    padding: 36px 64px;
    margin: auto;
    font-size: 25px;
    transition-duration: 0.25s;
    background-color: #186aed;
    border-style: solid;
    border-width: 10px;
    border-color: #11408d;
    cursor: pointer;
}
.Buttons button:hover{
   background-color: #ED9B18;
   border-color: #8D5E11;
}
/* Range CSS */
.BGrange {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#colorBox{
    width: 50px;
    height: 50px;
    background-color: white;
}
.BGrange input{
    appearance: none;
    width: 35%;
    height: 35px;
    border-radius: 70px;
}
.BGrange input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    cursor: pointer;
  }
.rangeR::-webkit-slider-thumb{background-color: #ff0000;}
.rangeG::-webkit-slider-thumb{background-color: #00ff00;}
.rangeB::-webkit-slider-thumb{background-color: #0000ff;}
.orig{

    margin: 20px auto;
    border-radius: 50%;
    background: #ac0f0f;
    width: 120px;
    height: 120px;
    transition-duration: 0.3s;
    cursor: pointer;
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.circClicked{
    justify-content: start;
    width: 500px;
    height: 200px;
    border-radius: 25px;

    
}




/* End of CSS */


